<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MySimpleDictionaryApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <MudNavMenu>
        <MudNavLink Href="/add-entry" Icon="@Icons.Material.Filled.Add">Add Entry</MudNavLink>
        <MudNavLink Href="/dictionary" Icon="@Icons.Material.Filled.Book">Dictionary</MudNavLink>
    </MudNavMenu>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
