@page "/"

@using MySimpleDictionaryApp.Data

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>MySimpleDictionary Demo</h3>

<NavLink href="/add-entry">Dodaj unos</NavLink>
<br />
<NavLink href="/view-entries">Pregled unosa</NavLink>
