@page "/"

@using MySimpleDictionaryApp.Data

<h1>Dictionary Blazor</h1>


<div style="display: flex; gap: 2rem;">
    <div style="flex: 1;">
        <AddEntry />
    </div>
    <div style="flex: 1;">
        <ViewEntries />
    </div>
</div>
